SECRET_KEY = 'your_secret_key'
API_URL = 'http://example:port'
API_URL_SRT = 'http://example:port'
AUTHORIZED_USERS = 'youremail@yourhost'
DB_API_URL = 'http://example:port'
GOOGLE_CLIENT_ID = 'your_google_client_id'
GOOGLE_CLIENT_SECRET = 'your_google_client_secret'
MOCK_TRANSLATION = '1'
