asgiref==3.8.1
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
Django==3.2.25
django-contrib-comments==2.2.0
django-ratelimit==4.1.0
django-redis==5.4.0
filebrowser-safe==1.1.1
grappelli-safe==1.1.1
idna==3.10
Mezzanine==6.0.0
oauthlib==3.2.2
pillow==10.4.0
python-dotenv==1.1.0
pytz==2024.2
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tinycss2==1.2.1
tzlocal==5.2
urllib3==2.2.3
webencodings==0.5.1
