{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% trans '華語, 台語, 翻譯' %}">
  <meta name="description" content="{% trans '提供台英、台日、台韓、台華雙向機器翻譯的服務' %}">
  <meta property="og:url" content="https://lohankha.tw/" />
  <meta property="og:title" content="{% trans 'Lohankha Translate - 台語翻譯' %}" />
  <meta property="og:image" content="https://lohankha.tw/static/img/lohankha_wide.png" />
  <title>{% trans 'Lohankha外來語音譯系統' %}</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/rss/">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feeds/atom/">

  <link rel="stylesheet" href="/static/css/font.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <link rel="alternate" hreflang="zh" href="https://translate.lohankha.tw/homophonic/" />
  <link rel="alternate" hreflang="en" href="https://translate.lohankha.tw/en/homophonic/" />
  <link rel="alternate" hreflang="ja" href="https://translate.lohankha.tw/ja/homophonic/" />
  <link rel="alternate" hreflang="ko" href="https://translate.lohankha.tw/ko/homophonic/" />
  <link rel="alternate" hreflang="x-default" href="https://translate.lohankha.tw/en/homophonic/" />

  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/translation-form.js"></script>

  <style>
    .error { color: red; }
    table, th, td { border: 1px solid #ccc; border-collapse: collapse; padding: 4px;}
  </style>
</head>
<body id="body">
    <div class="container">
        {% include 'nav_tabs.html' %}
        {% block content %}
        <h4 class="mt-1">{% trans 'Lohankha外來語音譯系統' %}</h4>
        <p>Lohankha提供台語外來語音譯。請佇下跤輸入欲音譯成做台語的英語。
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div>
                <label for="{{ form.inp.id_for_label }}">{{ form.inp.label }}：</label>
                {{ form.inp }}
                {% if form.inp.errors %}
                    <span class="error">{{ form.inp.errors.0 }}</span>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.lang.id_for_label }}">{{ form.lang.label }}：</label>
                {{ form.lang }}
                {% if form.lang.errors %}
                    <span class="error">{{ form.lang.errors.0 }}</span>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.lmjmod.id_for_label }}">{{ form.lmjmod.label }}：</label>
                {{ form.lmjmod }}
                {% if form.lmjmod.errors %}
                    <span class="error">{{ form.lmjmod.errors.0 }}</span>
                {% endif %}
            </div>
            <div>
                <button type="submit">{% trans "翻譯" %}</button>
            </div>
        </form>

        {% if result.error %}
            <p class="error">{{ result.error }}</p>
        {% elif result.ok %}
            <h4>{% trans "音譯結果" %}</h2>
            <table>
                <tr>
                    <th>{% trans "原詞" %}</th>
                    <th>{% trans "國際音標" %}</th>
                    <th>{% trans "譯詞" %}</th>
                    <th>{% trans "羅馬字" %}</th>
                </tr>
                <tr>
                    <td>{{ result.inp }}</td>
                    <td>{{ result.ipa }}</td>
                    <td>{{ result.output }}</td>
                    <td>{{ result.lo }}</td>
                </tr>
            </table>
            {% if result.sug %}
                <h4>{% trans "推薦用詞" %}</h2>
                <table>
                    <tr>
                        <th>{% trans "譯詞" %}</th>
                        <th>{% trans "羅馬字" %}</th>
                        <th>{% trans "理由" %}</th>
                    </tr>
                    {% for iksu, lomaji, liiu in result.sug %}
                    <tr>
                        <td>{{ iksu }}</td>
                        <td>{{ lomaji }}</td>
                        <td>{{ liiu }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if result.ref %}
                <h4>{% trans "文獻" %}</h2>
                <table>
                    <tr>
                        <th>{% trans "譯詞" %}</th>
                        <th>{% trans "羅馬字" %}</th>
                        <th>{% trans "出典" %}</th>
                    </tr>
                    {% for row in result.ref %}
                        <tr>
                            {% if row.iksu_rowspan %}
                                <td rowspan="{{ row.iksu_rowspan }}">{{ row.iksu }}</td>
                            {% endif %}
                            {% if row.lomaji_rowspan %}
                                <td rowspan="{{ row.lomaji_rowspan }}">{{ row.lomaji }}</td>
                            {% endif %}
                            <td>{{ row.tshuttian }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
        {% endblock %}
        {% include 'footer.html' %}
    </div>
</body>
</html>
